.any-questions {
  background: #f2f2f2 url("../img/any-questions.png") center no-repeat;
  text-align: center;
  padding-top: 28px;
  margin-top: 10px;
  min-height: 404px;
  .text {
    width: 282px;
    margin: 0 auto 191px;
    color: #002535;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    width: 283px;
    height: 50px;
    background-color: #4fb5e4;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }
}