.any-questions {
  background: #f2f2f2 url("../img/any-questions1.png") center 80% no-repeat;
  background-size: 70%;
  text-align: center;
  padding-top: 28px;
  margin-top: 10px;
  min-height: 404px;
  box-sizing: border-box;
  .text {
    min-width: 282px;
    margin: 0 auto 191px;
    color: #002535;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
  a {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    width: 283px;
    height: 50px;
    background-color: #4fb5e4;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }
}
@media screen and (min-width: 374px){
  .any-questions {
    background-size: 60%;
  }
}
@media screen and (min-width: 429px){
  .any-questions {
    background-size: 50%;
  }
}
@media screen and (min-width: 515px){
  .any-questions {
    background-size: 40%;
  }
}
@media screen and (min-width: 650px){
  .any-questions {
    background-size: 35%;
  }
}

@media screen and (min-width: 720px) {
  .any-questions {
    background: #f2f2f2;
    padding-top: 0px;
    margin-top: 10px;
    min-height: 123px;
    box-sizing: border-box;
    &_layout {
      max-width: 800px;
      margin: 0 auto;
    }
    .text {
      display: inline-block;
      width: 245px;
      margin: 29px 0 29px 21px;
      margin-left: 21px;
      font-size: 24px;
      float: left;
      text-align: left;
    }
    a {
      display: inline-block;
      margin: 36px 55px 37px 0;
      width: 281px;
      float: right;
    }
  }
}

@media screen and (min-width: 1120px) {
  .any-questions {
    background: #f2f2f2;
    padding-top: 0;
    margin-top: 10px;
    min-height: 203px;
    box-sizing: border-box;
    &_layout {
      max-width: 1340px;
      margin: auto;
    }
    .text {
      width: 633px;
      margin: 64px 0 57px 21px;
      font-size: 40px;
      line-height: 40px;
    }
    a {
      margin: 76px 55px 65px;
      width: 351px;
      height: 62px;
      font-size: 30px;
      line-height: 62px;
      float: right;
    }
  }
}