.reviews {
  &_layout {}
  &_title {
    text-align: center;
    margin: 0 auto;
    width: 160px;
    h2 {
      position: relative;
      font-size: 24px;
      font-weight: 400;
      line-height: 24.83px;
      &:before {
        content: '';
        position: absolute;
        width: 34px;
        height: 2px;
        background-color: #ff1a56;
        left: -45px;
        top: 12px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 34px;
        height: 2px;
        background-color: #ff1a56;
        right: -45px;
        top: 12px;
      }
    }
  }
  &-slider {
    &_item {
      width: 280px;
      margin: 0 auto;
      .item {
        &_avatar {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          margin: 0 auto;
        }
        &_name {
          text-align: center;
          span {
            font-family: "Myriad Pro";
            font-size: 16px;
            font-weight: 700;
            line-height: 27px;
          }
        }
        &_info {
          color: #000000;
          font-family: "Myriad Pro";
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          text-align: center;
          .people {
            display: inline-block;
            padding-left: 20px;
            margin-right: 18px;
          }
          .raiting {
            display: inline-block;
            padding-left: 20px;
            margin-right: 18px;
          }
          span {
            color: #29abe2;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
          }
        }
        &-review {
          position: relative;
          width: 279px;
          min-height: 309px;
          border: 1px solid #d0d0d0;
          margin: 40px auto 20px;
          padding: 22px 13px;
          box-sizing: border-box;
          &:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background-color: #ffffff;
            border-top: 1px solid #d0d0d0;
            border-left: 1px solid #d0d0d0;
            top: -11px;
            left: 130px;
            transform: rotate(45deg);
          }
          .header_review {
            .text {
              display: inline-block;
              color: #000000;
              font-family: "Myriad Pro";
              font-size: 20px;
              font-weight: 700;
              line-height: 27px;
            }
            .stars {
              display: inline-block;
              span {
                display: none;
              }
            }
          }
          .date {
            color: #999999;
            font-family: "Myriad Pro";
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 20px;
          }
          .text-review {
            color: #000000;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: justify;
          }
        }
      }
    }
    .owl-dots {
      margin: 0 auto;
      text-align: center;
      .owl-dot {
        display: inline-block;
        width: 11px;
        height: 11px;
        border: 1px solid #ff0043;
        border-radius: 50%;
        margin: 10px 12px 40px 0;
        vertical-align: middle;
        &.active {
          width: 13px;
          height: 13px;
          background-color: #ff0043;
        }
      }
    }
  }
}