.services {
  background-color: #ffffff;
  text-align: center;
  padding-top: 41px;
  &_layout {
    width: 320px;
    margin: 0 auto;
  }
  &_title {
    position: relative;
    width: 138px;
    font-family: "Arial MT";
    font-size: 24px;
    font-weight: 400;
    line-height: 26.21px;
    margin: 0 auto 80px;
    &:before {
      content: '';
      position: absolute;
      width: 34px;
      height: 2px;
      background-color: #ff1a56;
      left: -40px;
      top: 12px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 34px;
      height: 2px;
      background-color: #ff1a56;
      right: -40px;
      top: 12px;
    }
  }
  &_items {
    .item {
      &_image {
        min-height: 182px;
        width: 100%;
        &-1 {
          background: url("../img/1.png") center/cover no-repeat;
        }
        &-2 {
          background: url("../img/2.png") center/cover no-repeat;
        }
        &-3 {
          background: url("../img/3.png") center/cover no-repeat;
        }
        &-4 {
          background: url("../img/4.png") center/cover no-repeat;
        }
        &-5 {
          background: url("../img/5.png") center/cover no-repeat;
        }
        &-6 {
          background: url("../img/6.png") center/cover no-repeat;
        }
      }
      &_desc {
        min-height: 187px;
        background-color: #f2f2f2;
        text-align: center;
        padding: 10px 0 25px;
        h2 {
          font-family: Roboto;
          font-size: 18px;
          font-weight: 700;
          line-height: 27px;
          margin-bottom: 25px;
        }
        p {
          width: 242px;
          min-height: 93px;
          color: #000000;
          font-family: Roboto;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          text-align: left;
          margin: 0 auto;
        }
      }
    }
  }
}